/* page.module.css */

.main {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #f9f9f9;
    border-radius: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-height: 90vh;
  }
  
  .contactSection {
    margin-bottom: 40px;
  }
  
  .contactSection h2 {
    font-size: 1.8rem;
    margin-bottom: 1.8rem;
    color: #333;
    text-transform: uppercase;
    text-align: center;
  }
  .contactSection p{
    font-size: 1rem;
  }
  
  .faqsSection .question {
    margin-bottom: 1.8rem;
  }
  
  .faqsSection .question h3 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
    color: #333;
  }
  
  .faqsSection .question p {
    font-size: 1rem;
    color: #555;
    line-height: 1.5;
  }
  
  .question::after {
    content: "\25B6";
    float: right;
    font-size: 2rem;
    transition: transform 0.3s ease;
  }
  
  .question.active::after {
    transform: rotate(90deg);
  }
  