/* page.module.css */

.main {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .main h2 {
    font-size: 32px;
    margin-bottom: 20px;
    color: #333;
    text-transform: uppercase;
    text-align: center;
  }
  
  .accountDetails {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
  }
  
  .field {
    margin-bottom: 20px;
    width: 80%;
  }
  
  .field label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .field input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .field input[type="text"],
  .field input[type="email"] {
    height: 40px;
  }
  
  .field input[type="text"]:focus,
  .field input[type="email"]:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  

  .saveChangeButton {
    background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.saveChangeButton:hover {
    transform: scale(0.95);  }